

<div class="baike">
<div class="container">
  <div class="row titleContent">
    <div class="col-md-12 text-center">
      <h3>薄荷百科</h3>
      <h3>Mint Encyclopedia</h3>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 text-center content">
    <!-- <img src="{{ 'assets/img/pubuliu/2.jpg'|theme }}" alt=""> -->
    <!-- <div class="baikeItem baikeItem2 ">
    <div class="baikeItem-in1">
      <div class="baikeItem-in2" style="background-image: url({{ 'assets/img/pubuliu/1.jpg);"> -->
        <!-- <div class="overlay">
    <a href="images/gallery/1.jpg'|theme }}" data-rel="lightbox" class="fa fa-expand"></a>
  </div> -->
      <!-- </div>
    </div>
  </div> -->
  <img src="{{'assets/img/baikeItem1.png' |theme}}" class="img-responsive center-block" style="width:80%;" alt="">
    <p>2017/03/17</p>
    <h4>你可能送了“假”的首饰</h4>
    <p>到了一年一度的情(da)人(chu)节(xue)了，除了俗气的花花草草巧克力，除了“治百病”的包包，难道就没有别的方式表达</p>
  </div>

    <div class="col-md-4 col-sm-6 text-center content">
      <!-- <img src="{{ 'assets/img/pubuliu/2.jpg'|theme }}" alt=""> -->
      <img src="{{'assets/img/baikeItem2.png' |theme}}" class="img-responsive center-block" style="width:80%;" alt="">
      <p>2017/03/17</p>
      <h4>拯救了世界的假牙</h4>
      <p>1953年79岁的杰出的政治家、画家、演说家、教育家丘吉尔被授予新的荣誉——诺贝尔文学奖（对，你没看错，是</p>
    </div>
    <div class="col-md-4 col-sm-6 text-center content">
      <!-- <img src="{{ 'assets/img/pubuliu/2.jpg'|theme }}" alt=""> -->
        <img src="{{'assets/img/baikeItem3.png' |theme}}" class="img-responsive center-block" style="width:80%;" alt="">
      <p>2017/03/17</p>
      <h4>厉害了，我的胖达君</h4>
      <p>转眼秋风起，快到年底了，小编来说说，胖达君为啥这么厉害。胖达君攻击能力：胖达君体重约100公斤，奔跑</p>
    </div>
  </div>
  <div class="row moreButton">
    <div class="col-md-12 text-center">
      <a href="#" role="button" class="btn btn-default" style="border-radius:17px;border:1px solid #26778a;width:100px;color:#26778a;margin-right:0">more</a>
    </div>
  </div>
</div>
