<div class="boheDoctor">
<div class="container">
  <div class="row" style="margin-bottom:30px;">
    <div class="col-md-12 text-center">
      <h3>薄荷医生</h3>
      <h3>Doctor Team</h3>
    </div>
  </div>
  <div class="row">

          <div class="col-md-6 team-grid" style="padding-right:-15px;">
            <div class="wrap wow slideInLeft">
            <div class="team-grid-right aliquam">
              <img src="{{ 'assets//img/loading.gif'|theme }}" data-original="{{ 'assets/img/img11.jpg'|theme }}" alt=" " class="img-responsive" />
            </div>
            <div class="team-grid-left non">
              <h4>南哲</h4>
                <h5>北京大学口腔医学博士</h5>
              <p>擅长领域：牙槽外科</p>
                <a href="/doctorteam" role="button" class="btn btn-default" style="">详情</a>

            </div>
            <div class="clearfix">

            </div>
       </div>
        </div>
         <div class="col-md-6 team-grid">
             <div class="wrap wow slideInRight">
           <div class="team-grid-right aliquam">
             <img src="{{ 'assets//img/loading.gif'|theme }}" data-original="{{ 'assets/img/img11.jpg'|theme }}" alt=" " class="img-responsive" />
           </div>
           <div class="team-grid-left non">
             <h4>谢晨</h4>
              <h5>首都医科大学</h5>
             <p>擅长领域：口腔内科综合， 牙齿美白，儿童口腔</p>
               <a href="/doctorteam" role="button" class="btn btn-default" style="">详情</a>
           </div>
           <div class="clearfix">

           </div>
         </div>
        </div>
        <div class="col-md-6 team-grid">
            <div class="wrap wow slideInLeft">
          <div class="team-grid-right aliquam">
            <img src="{{ 'assets//img/loading.gif'|theme }}" data-original="{{ 'assets/img/img11.jpg'|theme }}" alt=" " class="img-responsive" />
          </div>
          <div class="team-grid-left non">
            <h4>徐郡</h4>
            <h5>首都医科大学博士</h5>
            <p>擅长领域：牙槽外科、种植外科、 牙齿美白</p>
              <a href="/doctorteam" role="button" class="btn btn-default" style="">详情</a>
          </div>
          <div class="clearfix">

          </div>
        </div>
       </div>
       <div class="col-md-6 team-grid">
           <div class="wrap wow slideInRight">
         <div class="team-grid-right aliquam">
           <img src="{{ 'assets//img/loading.gif'|theme }}" data-original="{{ 'assets/img/img11.jpg'|theme }}" alt=" " class="img-responsive" />
         </div>
         <div class="team-grid-left non">
           <h4>郭钰</h4>
           <h5>首都医科大学</h5>
            <p>擅长领域：口腔内科综合， 牙齿美白，儿童口腔</p>
             <a href="/doctorteam" role="button" class="btn btn-default" style="">详情</a>

         </div>
         <div class="clearfix">

         </div>
       </div>
      </div>
     </div>
       <div class="row" style="margin-top:30px;">
         <div class="col-md-12 text-center">
           <a href="/doctorteam" role="button" class="btn btn-default" style="border-radius:17px;border:1px solid #24788b;color:#24788b;;width:100px;margin-right:0">more</a>
         </div>
       </div>

</div>
</div>
