<div id="bootstrap-touch-slider" class="carousel bs-slider fade  control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="5000" >

          <!-- Indicators -->
          <ol class="carousel-indicators">
              <li data-target="#bootstrap-touch-slider" data-slide-to="0" class="active"></li>
              <li data-target="#bootstrap-touch-slider" data-slide-to="1"></li>
              <li data-target="#bootstrap-touch-slider" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper For Slides -->
          <div class="carousel-inner" role="listbox">

              <!-- Third Slide -->
              <div class="item active">

                  <!-- Slide Background -->
                  <img src="{{ 'assets/img/banner/banner1.png' |theme}}" alt="Bootstrap Touch Slider"  class="slide-image "/>
                  <div class="bs-slider-overlay"></div>


                  <div class="container firstContent" >
                      <div class="row titleContent" >
                          <!-- Slide Text Layer -->
                            <div class="col-md-8 col-sm-8 col-xs-8 title">
                              <h3 data-animation="animated zoomInRight" >您专业的口腔护理专家</h3>
                              <h4 data-animation="animated fadeInLeft" >Your professional oral care specialist</h4>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4 yuyue" style="font-size:40px;letter-spacing:2px;">
                              <a href="/quickYuyue" target="_blank" class="btn btn-default" data-animation="animated fadeInLeft">快速预约</a>
                            </div>
                           </div>


                              <div class="row iconContent">

                              <div class="col-md-3 col-sm-3 col-xs-3 icon1" data-animation="animated fadeInUp">
                                <img src="{{ 'assets/img/banner/bannercontent1.png' |theme}}" class="img-responsive"  alt="">
                              </div>
                              <div class="col-md-3 col-sm-3 col-xs-3 icon2" data-animation="animated fadeInUp">
                                <img src="{{ 'assets/img/banner/bannercontent2.png' |theme}}" class="img-responsive"  alt="">
                              </div>
                              <div class="col-md-3 col-sm-3 col-xs-3 icon3" data-animation="animated fadeInUp">
                              <img src="{{ 'assets/img/banner/bannercontent3.png' |theme}}" class="img-responsive"  alt="">
                              </div>
                              <div class="col-md-3 col-sm-3 col-xs-3 icon4" data-animation="animated fadeInUp">
                              <img src="{{ 'assets/img/banner/bannercontent4.png' |theme}}" class="img-responsive"  alt="">
                              </div>
                        </div>
                          </div>
              </div>
              <!-- End of Slide -->



              <!-- Second Slide -->
              <div class="item">

                  <!-- Slide Background -->
                  <img src="{{ 'assets/img/banner/banner2.png' |theme}}" alt=""  class="slide-image"/>
                  <!-- <div class="bs-slider-overlay"></div> -->
                  <!-- Slide Text Layer -->
                  <div class="container secondContent" style="height:100%">

            <div class="row" style="height:100%">

            <div class="col-md-4 col-sm-7 col-xs-7" style="position:relative;background-color:#166f88;opacity:0.9; height:100%;padding-top:20%;padding-left:40px;padding-right:40px;">
              <!-- <div class="content-overlay" >

              </div> -->
              <h3 data-animation="animated zoomInRight" style="color:#fff;font-size:40px;letter-spacing:4px;">和更多优秀的牙医在一起</h3>
              <h5 data-animation="animated fadeInLeft" style="color:#fff;font-size:28px;font-family:'MFYueHei_Noncommercial Regular';letter-spacing:2px;margin-top:30px;">Your professional oral care specialist</h5>
            </div>
          </div>

                  </div>
              </div>
              <!-- End of Slide -->

              <!-- Third Slide -->
              <div class="item">

                  <!-- Slide Background -->
                  <img src="{{ 'assets/img/banner/banner3.png' |theme}}" alt="Bootstrap Touch Slider"  class="slide-image"/>
                  <!-- <div class="bs-slider-overlay"></div> -->
                  <!-- Slide Text Layer -->
                  <div class="container thirdContent" style="height:100%;">

                    <div class="row" style="height:100%">

                    <div class="col-md-4 col-sm-7 col-xs-7" style="background-color:#166f88;opacity:0.9; height:100%;margin-right:30px;padding:20px;">
                      <!-- <div class="content-overlay" ></div> -->
                      <ul>
                      <li>
                      <h4 data-animation="animated bounceInLeft">1.真资质</h4>
                      <p data-animation="animated bounceInRight">真资深的纯三甲医院牙医团队，医生均有10000-50000人次以上的门诊经验。</p>
                      </li>
                      <li>
                      <h4 data-animation="animated bounceInLeft">2.真专业</h4>
                      <p data-animation="animated bounceInRight">不同专业医生精修一个专业方向。</p>
                      </li>
                      <li>
                      <h4 data-animation="animated bounceInLeft">3.真材料</h4>
                      <p data-animation="animated bounceInRight">甄选最优质、最安全的临床材料。</p>
                      </li>
                      <li>
                      <h4 data-animation="animated bounceInLeft">4.真可靠</h4>
                      <p data-animation="animated bounceInRight">京城300+名优秀三甲医院牙医的信誉背书。</p>
                      </li>
                      <li>
                      <h4 data-animation="animated bounceInLeft">5.真方便</h4>
                      <p data-animation="animated bounceInRight">无需排队、无需等待，轻松预约，从“齿”简单。</p>
                      </li>
                    </ul>
                      </div>
                  </div>
            </div>
          </div>

                  </div>

              <!-- End of Slide

              <!-- Left Control -->
              <a class="left carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="prev">
                  <!-- <span class="fa fa-angle-left" aria-hidden="true"></span> -->
                 <p><i class="icon-arrow-left"></i></p>
                  <span class="sr-only"></i>Previous</span>
              </a>

              <!-- Right Control -->
              <a class="right carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="next">
                  <!-- <span class="fa fa-angle-right" aria-hidden="true"></span> -->
                  <i class="icon-arrow-right" aria-hidden="true"></i>
                  <span class="sr-only">Next</span>
              </a>

          </div><!-- End of Wrapper For Slides -->
          </div>
