<div class="cooperate">
<div class="container">
<div class="row">
  <div class="col-md-12 text-center">
    <h3>合作企业</h3>
    <h3>Cooperative Enterprise</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-3 col-sm-4 col-xs-6 text-center">
    <img src="{{ 'assets/img/cooperate/cooperate1.png'|theme }}" class="img-responsive center-block"  alt="">
  </div>
  <div class="col-md-3 col-sm-4 col-xs-6 text-center" >
    <img src="{{ 'assets/img/cooperate/cooperate2.png'|theme }}" class="img-responsive center-block" alt="">
  </div>
  <div class="col-md-3 col-sm-4 col-xs-6 text-center">
    <img src="{{ 'assets/img/cooperate/cooperate3.png'|theme }}" class="img-responsive center-block" alt="">
  </div>
  <div class="col-md-3 col-sm-4 col-xs-6 text-center">
    <img src="{{ 'assets/img/cooperate/cooperate4.png'|theme }}" class="img-responsive center-block" alt="">
  </div>
  <div class="col-md-3 col-sm-4 col-xs-6 text-center">
    <img src="{{ 'assets/img/cooperate/cooperate5.png'|theme }}" class="img-responsive center-block" alt="">
  </div>
</div>
<div class="row">
  <div class="col-md-3 col-sm-4 col-xs-6 text-center">
    <img src="{{ 'assets/img/cooperate/cooperate6.png'|theme }}" class="img-responsive center-block" alt="">
  </div>
  <div class="col-md-3 col-sm-4 col-xs-6 text-center" >
    <img src="{{ 'assets/img/cooperate/cooperate7.png'|theme }}" class="img-responsive center-block" alt="">
  </div>
  <div class="col-md-3 col-sm-4 col-xs-6 text-center">
    <img src="{{ 'assets/img/cooperate/cooperate8.png'|theme }}" class="img-responsive center-block" alt="">
  </div>
  <div class="col-md-3 col-sm-4 col-xs-6 text-center">
    <img src="{{ 'assets/img/cooperate/cooperate9.png'|theme }}" class="img-responsive center-block" alt="">
  </div>
  <div class="col-md-3 col-sm-4 col-xs-6 text-center">
    <img src="{{ 'assets/img/cooperate/cooperate10.png'|theme }}" class="img-responsive center-block" alt="">
  </div>
</div>
<div class="row">
  <div class="col-md-3 col-sm-4 col-xs-6 text-center">
    <img src="{{ 'assets/img/cooperate/cooperate11.png'|theme }}" class="img-responsive center-block" alt="">
  </div>
  <div class="col-md-3 col-sm-4 col-xs-6 text-center" >
    <img src="{{ 'assets/img/cooperate/cooperate12.png'|theme }}" class="img-responsive center-block" alt="">
  </div>
  <div class="col-md-3 col-sm-4 col-xs-6 text-center">
    <img src="{{ 'assets/img/cooperate/cooperate13.png'|theme }}" class="img-responsive center-block" alt="">
  </div>
  <div class="col-md-3 col-sm-4 col-xs-6 text-center">
    <img src="{{ 'assets/img/cooperate/cooperate14.png'|theme }}" class="img-responsive center-block" alt="">
  </div>
  <div class="col-md-3 col-sm-4 col-xs-6 text-center">
    <img src="{{ 'assets/img/cooperate/cooperate15.png'|theme }}" class="img-responsive center-block" alt="">
  </div>
</div>
</div>
</div>
