
  <div class="team" id="team">
    <div class="container text-center" style="padding:0;margin:10px auto">
      <h3 class="title">服务项目</h3>
      <h3 class="title">Service items</h3>
      <div class="team-info">
        <div class="col-md-4 col-sm-6 col-xs-6 service-grids wow bounceIn animated" data-wow-delay=".5s" style="visibility: visible; -webkit-animation-delay: .5s;">
          <a href="#">
            <img class="img-responsive" src="{{ 'assets/img/serviceItem/serviceItem1.png'|theme }}" alt="">
            <div class="captn">
              <h4>Tincidun</h4>
              <h5>Velit uti</h5>
              <p>Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt</p>
            </div>
          </a>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6 service-grids wow bounceIn animated" data-wow-delay=".5s" style="visibility: visible; -webkit-animation-delay: .5s;">
          <a href="#">
            <img class="img-responsive" src="{{ 'assets/img/serviceItem/serviceItem2.png'|theme }}" alt="">
            <div class="captn">
              <h4>Velit uti</h4>
              <h5>Velit uti</h5>
              <p>Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt</p>
            </div>
          </a>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6 service-grids wow bounceIn animated" data-wow-delay=".5s" style="visibility: visible; -webkit-animation-delay: .5s;">
          <a href="#">
            <img class="img-responsive" src="{{ 'assets/img/serviceItem/serviceItem3.png'|theme }}" alt="">
            <div class="captn">
              <h4>Posuere</h4>
              <h5>Velit uti</h5>
              <p>Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt</p>
            </div>
          </a>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6 service-grids wow bounceIn animated" data-wow-delay=".5s" style="visibility: visible; -webkit-animation-delay: .5s;">
          <a href="#">
            <img class="img-responsive" src="{{ 'assets/img/serviceItem/serviceItem4.png'|theme }}" alt="">
            <div class="captn">
              <h4>Augc sfe</h4>
              <h5>Velit uti</h5>
              <p>Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt</p>
            </div>
          </a>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6 service-grids wow bounceIn animated" data-wow-delay=".5s" style="visibility: visible; -webkit-animation-delay: .5s;">
          <a href="#">
            <img class="img-responsive" src="{{ 'assets/img/serviceItem/serviceItem5.png'|theme }}" alt="">
            <div class="captn">
              <h4>Augc sfe</h4>
              <h5>Velit uti</h5>
              <p>Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt</p>
            </div>
          </a>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6 service-grids wow bounceIn animated" data-wow-delay=".5s" style="visibility: visible; -webkit-animation-delay: .5s;">
          <a href="#">
            <img class="img-responsive" src="{{ 'assets/img/serviceItem/serviceItem6.png'|theme }}" alt="">
            <div class="captn">
              <h4>Augc sfe</h4>
              <h5>Velit uti</h5>
              <p>Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt</p>
            </div>
          </a>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6 service-grids wow bounceIn animated" data-wow-delay=".5s" style="visibility: visible; -webkit-animation-delay: .5s;">
          <a href="#">
            <img class="img-responsive" src="{{ 'assets/img/serviceItem/serviceItem7.png'|theme }}" alt="">
            <div class="captn">
              <h4>Augc sfe</h4>
              <h5>Velit uti</h5>
              <p>Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt</p>
            </div>
          </a>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6 service-grids wow bounceIn animated" data-wow-delay=".5s" style="visibility: visible; -webkit-animation-delay: .5s;">
          <a href="#">
            <img class="img-responsive" src="{{ 'assets/img/serviceItem/serviceItem8.png'|theme }}" alt="">
            <div class="captn">
              <h4>Augc sfe</h4>
              <h5>Velit uti</h5>
              <p>Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt</p>
            </div>
          </a>
        </div>


        <div class="col-md-4 col-sm-6 col-xs-6 service-grids wow bounceIn animated" data-wow-delay=".5s" style="visibility: visible; -webkit-animation-delay: .5s;">

            <img class="img-responsive" src="{{ 'assets/img/serviceItem/serviceItem9.png'|theme }}" alt="">

              <a href="#" class="moreBtn" style="font-size:28px;width:30%;height:40%;position:absolute;left:35%;top:40%;">
                more&nbsp; >
              </a>


        </div>

        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
