<div class="baner">
  <div class="container">
    <div class="baner-grids">
      <div class="baner-row">
        <div class="col-md-4 col-sm-6 col-xs-6 baner-bottom">
          <figure class="effect-bubba">
            <img src="{{ 'assets/img/img3.jpg'|theme }}" alt=""/>
            <figcaption>
              <h4>Enimet pulvinar posuere</h4>
              <p>In sit amet sapien eros Integer dolore magna aliqua</p>
              <a href="#" role="button" class="btn btn-default" style="border-radius:17px;background-color:rgba(0,0,0,.02);width:80px;color:#fff;border:0;">more</a>
            </figcaption>
          </figure>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6 baner-bottom">
          <figure class="effect-bubba">
            <img src="{{ 'assets/img/img4.jpg'|theme }}" alt=""/>
            <figcaption>
              <h4>Enimet pulvinar posuere</h4>
              <p>In sit amet sapien eros Integer dolore magna aliqua</p>
              <a href="#" role="button" class="btn btn-default" style="border-radius:17px;background-color:rgba(0,0,0,.02);width:80px;color:#fff;border:0;">more</a>
            </figcaption>
          </figure>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6 baner-bottom">
          <figure class="effect-bubba">
            <img src="{{ 'assets/img/img5.jpg'|theme }}" alt=""/>
            <figcaption>
              <h4>Enimet pulvinar posuere</h4>
              <p>In sit amet sapien eros Integer dolore magna aliqua</p>
              <a href="#" role="button" class="btn btn-default" style="border-radius:17px;background-color:rgba(0,0,0,.02);width:80px;color:#fff;border:0;">more</a>
            </figcaption>
          </figure>
        </div>

        <div class="baner-row">
          <div class="col-md-4 col-sm-6 col-xs-6 baner-bottom">
            <figure class="effect-bubba">
              <img src="{{ 'assets/img/img3.jpg'|theme }}" alt=""/>
              <figcaption>
                <h4>Enimet pulvinar posuere</h4>
                <p>In sit amet sapien eros Integer dolore magna aliqua</p>
                <a href="#" role="button" class="btn btn-default" style="border-radius:17px;background-color:rgba(0,0,0,.02);width:80px;color:#fff;border:0;">more</a>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-4  col-sm-6 col-xs-6 baner-bottom">
            <figure class="effect-bubba">
              <img src="{{ 'assets/img/img4.jpg'|theme }}" alt=""/>
              <figcaption>
                <h4>Enimet pulvinar posuere</h4>
                <p>In sit amet sapien eros Integer dolore magna aliqua</p>
                <a href="#" role="button" class="btn btn-default" style="border-radius:17px;background-color:rgba(0,0,0,.02);width:80px;color:#fff;border:0;">more</a>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-6 baner-bottom">
            <figure class="effect-bubba">
              <img src="{{ 'assets/img/img5.jpg'|theme }}" alt=""/>
              <figcaption>
                <h4>Enimet pulvinar posuere</h4>
                <p>In sit amet sapien eros Integer dolore magna aliqua</p>
                <a href="#" role="button" class="btn btn-default" style="border-radius:17px;background-color:rgba(0,0,0,.02);width:80px;color:#fff;border:0;">more</a>
              </figcaption>
            </figure>
          </div>

        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
</div>
</div>
