<div class="questionContent">
  <div class="container">
<div class="row">
  <div class="col-lg-5 col-md-4 col-sm-5 col-xs-5" style="margin-top:40px;">
    <img src="{{'assets/img/questionLeft.png' |theme}}" alt="" style="width:95%;">
  </div>
  <div class="col-lg-7 col-md-8 col-sm-7 col-xs-7" style="margin-top:15%;">
    <form class="contact-form">
      <div class="form-group">
        <label for="name" class="sr-only">姓名</label>
        <input type="name" class="form-control" id="name" placeholder="请输入您的姓名">
      </div>
      <div class="form-group">
        <label for="tel" class="sr-only">电话</label>
        <input type="tel" class="form-control" id="tel" placeholder="请输入您的联系电话">
      </div>
      <div class="form-group">
        <label for="message" class="sr-only">问题</label>
        <textarea class="form-control" id="message" rows="5" placeholder="请填写您要提交的问题"></textarea>
      </div>
      <div class="form-group">
        <input type="submit" id="btn-submit" class="btn btn-send-message btn-md" value="提交">
      </div>
    </form>
  </div>
</div>


  </div>
</div>
