<div class="container yuyueContent">
<h4>预约流程 | Reservation progress </h4>

<div class="container">
  <div class="row text-center">

<div class="col-md-2 col-sm-2 col-xs-2 item" style="width:13%;">
  <img src="{{'assets/img/quickyuyue/yuyueitem1.jpg' |theme}}" class="img-responsive" alt="">
  <h4>关注公众号</h4>
  <p>关注薄荷牙医微信公众号</p>
</div>
<div class="col-md-2 col-sm-2 col-xs-2 item arrow" style="width:13%;">
  <img src="{{'assets/img/quickyuyue/yuyuearrow.png' |theme}}" class="img-responsive" alt="">
</div>
<div class="col-md-2 col-sm-2 col-xs-2 item" style="width:13%;">
  <img src="{{'assets/img/quickyuyue/yuyueitem2.jpg' |theme}}" class="img-responsive" alt="">
  <h4>线上预约</h4>
  <p>在微信公众号中进行线上预约</p>
</div>
<div class="col-md-2 col-sm-2 col-xs-2 item arrow" style="width:13%;">
  <img src="{{'assets/img/quickyuyue/yuyuearrow.png' |theme}}" class="img-responsive" alt="">
</div>
<div class="col-md-2 col-sm-2 col-xs-2 item" style="width:13%;">
  <img src="{{'assets/img/quickyuyue/yuyueitem3.jpg' |theme}}" class="img-responsive" alt="">
  <h4>诊所就诊</h4>
  <p>按照约定时间到指定诊所就诊</p>
</div>
<div class="col-md-2 col-sm-2 col-xs-2  item arrow" style="width:13%;">
  <img src="{{'assets/img/quickyuyue/yuyuearrow.png' |theme}}" class="img-responsive" alt="">
</div>
<div class="col-md-2 col-sm-2 col-xs-2 item" style="width:13%;">
  <img src="{{'assets/img/quickyuyue/yuyueitem4.jpg' |theme}}" class="img-responsive" alt="">
  <h4>缴费完成</h4>
  <p>完成治疗后，生成账单，线上缴费完成</p>
</div>


</div>
</div>
</div>
