<!-- footer begin -->

<footer>
<div class="bgImge" style="background: url({{'assets/img/serviceTopbg.png' |theme}}) no-repeat center top fixed;background-size:cover">
  <div class="background-overlay">
    <div class="footer" >
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-9 animate-box companyGroup">
              <div class="saoArea">
                <p>溱洧科技(北京)有限公司</p>
                <p><i class="icon-map-marker"></i> 北京市朝阳区酒仙桥14号兆维工业园C2-3三层</p>
                <p><i class="icon-phone"></i> 电话：400-9696-791</p>
                <p><i class="icon-envelope"></i> 邮箱：tangmingxin@zhenweit</p>
                <img src="{{ 'assets/img/erweima.png'|theme }}" alt="" class="img-responsive" style="width:50%;">
                <p>微信公众号：薄荷牙医</p>
              </div>
          </div>

          <div class="col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-0 col-lg-5 col-md-5 col-sm-7 col-xs-12 animate-box serviceGroup" style="padding-bottom:5%;">
            <dl>

              <dt>医生团队</dt>
              <a href="#"><dd>口腔种植医生</dd></a>
              <dd>牙齿正畸医生</dd>
              <dd>美容修复医生</dd>
              <dd>儿童口腔医生</dd>
              <dd>牙周治疗医生</dd>

            </dl>
            <dl style="margin-left:20px;">
              <dt>服务项目</dt>
              <dd>洗牙</dd>
              <dd>美白</dd>
              <dd>补牙</dd>
              <dd>种牙</dd>
              <dd>正畸</dd>
              <dd>镶牙</dd>
              <dd>儿童口腔</dd>
              <dd>口腔检查</dd>
            </dl>
            <dl>
              <dt>薄荷百科</dt>
              <dd>洗牙文章</dd>
              <dd>智齿文章</dd>
              <dd>美白文章</dd>
              <dd>种植牙文章</dd>
              <dd>儿童口腔文章</dd>
              <dd>孕期文章</dd>
              <dd>老人口腔文章</dd>
            </dl>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 animate-box questionGroup">
            <dl>
              <dt>我要提问</dt>
          <dd>
            <form class="contact-form">
              <div class="form-group">
                <label for="name" class="sr-only">姓名</label>
                <input type="name" class="form-control" id="name" placeholder="请输入您的姓名">
              </div>
              <div class="form-group">
                <label for="tel" class="sr-only">电话</label>
                <input type="tel" class="form-control" id="tel" placeholder="请输入您的联系电话">
              </div>
              <div class="form-group">
                <label for="message" class="sr-only">问题</label>
                <textarea class="form-control" id="message" rows="5" placeholder="请填写您要提交的问题"></textarea>
              </div>
              <div class="form-group">
                <input type="submit" id="btn-submit" class="btn btn-send-message btn-md" value="提交">
              </div>
            </form>
            </dd>
          </dl>
          </div>
        </div>
        </div>
         </div>
        </div>
       </div>
    <div class="bottomRow">
      <div class="container">
        <div class="row copy-right">
          <div class="col-md-6 col-md-offset-3 text-center" >
            <a><p>溱洧科技(北京)有限公司 版权所有京ICP备16036712<p></a>

        </div>

      </div>
    </div>
    </div>
  </footer>
<!-- footer end  -->
