
<div class="navWrap">
  <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header page-scroll">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand page-scroll" href="#page-top"><img src="{{ 'assets/img/brand.png'|theme }}"></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  <li class="hidden">
                      <a href="#page-top"></a>
                  </li>

                  <li>
                      <a class="page-scroll" href="/home">网站首页</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="/doctorteam">医生团队</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="/serviceList">服务项目</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="/bohebaike">薄荷百科</a>
                  </li>
            <li>
                      <a class="page-scroll" href="/question">我要提问</a>
                  </li>
                  <!-- <li> -->
                      <li><button type="button" class="btn btn-default navbar-btn" onclick="window.location.href='/quickYuyue'">快速预约</button></li>
            <!-- <a class="page-scroll btn btn-default yuyueBtn" href="#pricing" style="padding-top:2px;">快速预约</a> -->
                  <!-- </li> -->
              </ul>
          </div>
          <!-- navbar-collapse -->
      </div>
      <!-- sscontainer-fluid -->
  </nav>
  </div>
<!-- Navigation -->
