


<meta charset="utf-8">
    <title>{{ this.page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1 ,maximum-scale=1,minimum-scale=1,user-scalable=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="stylesheet" href="{{['assets/css/bootstrap.min.css',
     'assets/css/common.css',
      'assets/css/chromagallery.min.css',
      'assets/css/font-awesome.min.css',
      'assets/css/animate.min.css',
      'assets/css/style.css',
    ] |theme}}">
