


<div class="topContainer" style="position:relative;">
  <div class="overlay">
  <div class="container-fluid bgImg">
      <img src="{{ 'assets/img/serviceTopbg.png'|theme }}" style="width:100%;background-size:cover;" alt="">
  </div>
  <div class="container contentArea">
  <div class="title">
    <h2 class="animated bounceInLeft">追求卓越&nbsp;尽善尽美</h2>
    <p class="animated bounceInRight">Pursuit of execellence</p>
    <p class="animated bounceInLeft">Make all-out efforts</p>
  </div>
    </div>
    </div>
</div>
