description = "Default layout"

[session]
security = "all"
==
function onStart()
{
    $this->addCss('assets/css/nav.css');
}
==
<!DOCTYPE html>
<html>
    <head>
      {% partial 'head' %}

      {% if  this.page.id !='home' %}

       {% styles %}

      {% endif %}


    </head>
    <body data-spy="scroll" data-target="#bootstrap-touch-slider">

        <!-- Header -->
        <header id="layout-header">
        {% partial 'header' %}

        <!-- {% if  this.page.id =='home' %}
        {% put styles %}
        <link rel="stylesheet" href="{{ ['assets/css/nav.css'] |theme}}">
        {% endput %}
        {% endif %} -->


        </header>

         <!-- Content -->
        <section id="layout-content">
            {% page %}
        </section>

        <!-- Footer -->
        <footer id="layout-footer">
              {% partial 'footer' %}
        </footer>
        <!-- Scripts -->
        <script src="{{ [
            'assets/javascript/jquery-1.11.3.min.js',
            'assets/javascript/bootstrap.min.js',
            'assets/javascript/bootstrap-touch-slider-min.js',
            'assets/javascript/wow.min.js',
            'assets/javascript/plugins.min.js',
            'assets/javascript/jquery.lazyload.min.js',
            'assets/javascript/main.js',
        ]|theme }}"></script>

        {% framework extras %}
        {% scripts %}

    </body>
</html>
